@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --ligth-blue: #0da5f3;
  --off-white: hsl(210, 36%, 96%);
  --more-off-white: hsl(202, 15%, 90%);
  --white-color: white;
  --red-color:#F51B1B;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  min-width: 1000px;
  overflow-x: hidden;
}
nav{
  padding: 10px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
  position: relative;
  z-index: 2;
}
.page-title>h1{
  font-size: 60px;
}
.fa-check-circle{
  color: var(--ligth-blue);
}
button{
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}
.login{
  position: absolute;
  top: 50%;
  left: 95%;
  padding: 5px 15px 5px 15px;
  text-transform: capitalize;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transform: translate(-95%,-50%);
  background-color: transparent;
  color: var(--ligth-blue);
  border: 2px solid var(--ligth-blue);
  border-radius: 30px;
  transition: .5s;
}
.login:hover{
  background-color: var(--ligth-blue);
  color: var(--white-color);
}
.toggle{
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-3%,-50%);
  font-size: 36px;
  color: var(--ligth-blue);
  transition: .5s;
}
.toggle:hover{
  transform: translate(-3%,-50%) rotate(-90deg);
}

.content{
  display: flex;
}
.sidebar{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  gap: 15px;
  padding: 30px 15px 30px 15px;
  transition: .7s transform;
}
.resize{
  position: relative;
  background-color: var(--off-white);
  cursor: col-resize;
  flex-basis: 4px;
  user-select: none;
  transition: .7s transform;
}
.list-board{
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  min-height: 85vh;
  min-width: 300px;
}
.hide{
  transform: translate(-100%, 0);
  position: absolute;
}

.section-name{
  border: none;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transition: .3s all;
}
.section-name:hover{
  background-color: var(--off-white);
}
.section-name.active{
  background-color: var(--more-off-white);
}
.fa-plus{
  color: var(--ligth-blue);
}
.project-item{
  padding: 3px 10px 3px 10px;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: .7s ease-in-out;
  z-index: 2;
  pointer-events: none;
}
.popup.active{
  opacity: 1;
  pointer-events: all;
}
.popup-text{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50vw;
  height: 500px;
  border-radius: 30px;
  background-color: var(--white-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-times{
  position: absolute;
  top: 7%;
  left: 95%;
  transform: translate(-95%,-5%);
  font-size: 36px;
  color: var(--red-color);
}
tr{
  display: flex;
  justify-content: center;
}
#name, #description{
  outline: none;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid;
  width: 25vw;
}
#description{
  resize: none;
}
.create-project{
  outline: none;
  font-size: 22px;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  color: var(--ligth-blue);
  border: 2px solid var(--ligth-blue);
  background-color: transparent;
  transition: .5s;
}
.create-project:hover{
  background-color: var(--ligth-blue);
  color: var(--white-color);
}
.alert{
  position: fixed;
  bottom: -1000px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--red-color);
  transition: .6s all;
  z-index: 2;
}
.alert.move{
  transform: translateY(-1050px);
}
.close-alert>i{
  color: black;
  font-size: 30px;
}
